{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

<!-- preloader start-->
<div id="preloader">
	<div class="preloader">
		<img src="{% static 'assets/img/thumbs/preloader_new.png' %}" alt="preloader">
	</div>
</div>
<!-- preloader end  -->

<main>
	<!-- breadcrumb-section start -->
	<section class="breadcrumb-section">
		<div class="container-fluid">
			<div class="row g-0">
				<div class="col-xl-6 col-lg-6">
					<div class="breadcrumb-content" style="background-image: url('{% static "assets/img/bg/breadcrumb-bg.webp" %}')">
						<div class="breadcrumb-nav" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
							<ul>
								<li><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'services' %}">Domes</a></li>
                                <li><a href="#">{{ category.name }}</a></li>
							</ul>
						</div>
						<div class="breadcrumb-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
							<h2>{{ category.name }} Domes</h2>
						</div>
						<div class="shape-1">
							<img src="{% static 'assets/img/shapes/shape-1.webp' %}" alt="shape"/>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 d-none d-lg-block">
					<div class="breadcrumb-thumb">
						<img src="{{ category.image.url }}" alt="{{ category.name }}"/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb-section end -->

	<!-- services-section start -->
	<section class="services-section p-t-100 p-b-250">
		<div class="container">
			<div class="row justify-content-center text-center m-b-30 m-b-xs-20">
				<div class="col-xl-8">
					<div class="common-subtitle" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
						<img alt="icon-1" src="{% static 'assets/img/icons/icon-2.svg' %}"> <span>Our {{ category.name }} Domes</span>
					</div>
					<div class="common-title m-b-0" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
						<h2>Experience Luxury in Our {{ category.name }} Domes</h2>
					</div>
				</div>
			</div>

		</div>
		<div class="container">
			<style>
				.camping-card .content .content-top .text p { margin-bottom: 0 !important; margin-top: 0 !important; }
			</style>
			<div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
				{% for dome in domes %}
				<div class="col-xl-4 m-b-30">
					<div class="camping-card">
						<div class="thumb">
							<a href="{% url 'services_details_with_slug' dome.slug %}"><img alt="{{ dome.name }}" src="{{ dome.main_image.url }}"></a>
							<div class="category">
								<a href="#">{{ category.name }}</a>
							</div>
						</div>
						<div class="content">
							<div class="content-top">
								<div class="date">
									<img alt="calendar-icon" src="{% static 'assets/img/icons/calendar.svg' %}"> <span>Stay</span>
								</div>
								<div class="title">
									<h3><a href="{% url 'services_details_with_slug' dome.slug %}">{{ dome.name }}</a></h3>
								</div>
								<div class="text" style="margin-bottom: 0px !important;">
									{{ dome.description|truncatewords_html:15|safe }}
								</div>
							</div>
							<div class="donation-wrap" style="padding-bottom: 20px;">
                                <div class="fund" style="margin-bottom: 15px;">
									<p>Check-in: <span>{{ dome.check_in }}</span></p>
									<p>Check-out: <span>{{ dome.check_out }}</span></p>
								</div>
								<div class="d-bottom">
									<a class="e-primary-btn has-icon d-btn" href="{% url 'services_details_with_slug' dome.slug %}">View Details <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="col-12">
					<p class="text-center">No domes available in this category yet.</p>
				</div>
				{% endfor %}
			</div>

            {% if domes.has_other_pages %}
			<div class="row justify-content-center text-center m-t-30">
				<div class="col-xl-6">
					<div class="project-pagination">
						<ul>
                            {% if domes.has_previous %}
							<li class="icon">
								<a href="?page={{ domes.previous_page_number }}"><i class="fa-regular fa-arrow-left"></i></a>
							</li>
                            {% endif %}

                            {% for num in domes.paginator.page_range %}
                                {% if domes.number == num %}
							    <li class="active">
								    <a href="#">{{ num|stringformat:"02d" }}</a>
							    </li>
                                {% else %}
                                <li>
                                    <a href="?page={{ num }}">{{ num|stringformat:"02d" }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}

                            {% if domes.has_next %}
							<li class="icon">
								<a href="?page={{ domes.next_page_number }}"><i class="fa-regular fa-arrow-right"></i></a>
							</li>
                            {% endif %}
						</ul>
					</div>
				</div>
			</div>
            {% endif %}
		</div>
	</section>
	<!-- services-section end -->

	<!-- contact-info-section start -->
	<section class="contact-info-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="contact-info-layout">
						<a class="contact-info active" href="mailto:info@domesinnheaven.com">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-paper-plane"></i>
								</div>
							</div>
							<h3>info@domesinnheaven.com</h3>
							<p>Send an Email</p>
						</a>
						<a class="contact-info" href="tel:+919946280626">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-phone-arrow-up-right"></i>
								</div>
							</div>
							<h3>+91 9946 280 626</h3>
							<p>Any Time Call Us</p>
						</a>
						<a class="contact-info" href="#">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-location-dot"></i>
								</div>
							</div>
							<h3>Vagamon, Kerala 685503, India</h3>
							<p>Our Address</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-info-section end -->
</main>

<!-- Vendors Js -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'assets/vendor/counter/purecounter.js' %}"></script>

<!-- Main Js -->
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
